div {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    color: #007bff;
    text-align: center;
    font-size: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #28a745;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.add-movie {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.add-movie:hover {
    background-color: #0056b3;
}
